DATABASE_NAME=nerds-and-threads.sqlite3
# Default version
GOOGLE_GEMINI_API_KEY=
# For Vertex version 11sep24
GOOGLE_PROJECT_ID='<YOUR_PROJECT_ID_YOU_GOT_WITH_ONRAMP_OR_OTHER>'
# Choose your model:
# - "gemini-1.5-flash" Flash is faster, cheaper, but less accurate.
# - "gemini-1.5-pro" Pro gives stronger results but is heavier -> has higher probability of getting throttled.
CHAT_COMPLETION_MODEL_NAME="gemini-1.5-flash"
